/* ------1220px------ */

@media (max-width: 1220px) {
  .advantages__text {
    padding-left: 20px;
  }

  .design-images img {
    width: 100%;
  }
}

/* ------1020px------ */

@media (max-width: 1020px) {
  .design-row {
    display: block;
  }

  .design-row__item {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .design-row__item-text {
    max-width: 100%;
  }

  .design-images,
  .design-row {
    margin-bottom: 50px;
  }
}

/* ------930px------ */

@media (max-width: 930px) {
  .advantages-inner__row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .advantages__title {
    position: static;
  }

  .advantages-descr {
    text-align: center;
  }

  .advantages__text {
    margin: 25px auto;
    padding-left: 0;
  }

  .avantages-inner__row--mobile .advantages-descr {
    order: -1;
    display: flex;
    flex-direction: column-reverse;
  }

  .advantages-inner__row {
    margin-bottom: 50px;
  }
}

/* ------814px------ */

@media (max-width: 814px) {
  .statistics-item {
    padding: 50px;
  }

  .statistics-items {
    flex-wrap: wrap;
  }
}

/* ------650px------ */

@media (max-width: 650px) {
  .advantages__img img {
    width: 100%;
  }
}

/* ------430px------ */

@media (max-width: 430px) {
  .body {
    font-size: 20;
    line-height: 24px;
  }

  .logo img {
    width: 185px;
  }

  .header-content__title {
    font-size: 70px;
    line-height: 85px;
    margin-top: 15px;
  }

  .menu__list a {
    font-size: 30px;
    line-height: 44px;
    padding: 19px 10px 7px 0;
    display: block;
    min-width: 100%;
    transition: all 0.5s;
  }

  .menu__list ul {
    width: 100%;
  }

  .button {
    padding: 30px 42px;
  }

  .statistics {
    margin: 110px 0 50px;
  }

  .statistics-item {
    padding: 25px 0;
  }

  .video {
    margin-bottom: 50px;
  }

  .advantages__text {
    width: 100%;
  }
}
